body{
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    padding-left: 20px;
}

#currentlyTyping{
    
    width: 20vw;
    height: 200px;
    position:absolute;
    right:20px;
    bottom:80px;
    padding: 15px;
}

#error-container {
    border: 2px solid rgb(248, 49, 49);
    border-radius:3px;
    margin:30px;
    padding:10px;
    position: fixed;
    left: 68vw;
    top: 10px;
    width: 400px;
    height: 60px;
    color: orange;  
    
}

#messageInput {
    
    position:fixed;
    bottom: 20px ;
    left: 40px;
    width: 23vw;
    height: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: bisque;
    border-radius: 20px;
    padding: 15px;
    
}

#messageInput:focus{
    outline:none;
    background-color: rgb(255, 255, 218);
}

#sendButton {
    position:fixed;
    bottom: 20px;
    margin-left: 52vw;
    background-color:rgb(183, 253, 189);
    border-color: transparent;
    border-radius: 5px;
    font-size: x-large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 5px 5px 2px 1px rgba(3, 248, 60, 0.991);
}


#messageContainer {
    width: 50vw;
    height: 80vh;
    border: 5px solid rgb(95, 95, 95);
    color: rgb(19, 229, 0);
    overflow: scroll;
    padding:10px;
    border-radius: 10px;
    background-color: rgb(24, 23, 23);
    font-family:'Courier New', Courier, monospace;
}

h3 {
    color:white;
}

/* width */
::-webkit-scrollbar {
    width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
    background: inherit;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightgrey;
}

::-webkit-scrollbar-corner{
    background-color:inherit;
}

@media only screen and (max-width: 600px) {
    
    #error-container{
        background-color: black;
        border: 2px solid rgb(255, 0, 0);            
        margin: 0;
        position: fixed;
        width: 80px;
        height: 150px;
        color: orange;
    }
}
