@font-face {
    font-family: "RalewayDots";
    
    src: url("Fonts/dotness.ttf");
    
}

html {
    background: #1a1a25;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-size: 100%;
}

body {
    /* height: 100%; */
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0px 30px;
    background-color: #172332;
}

h1 {
    color: wheat;  
    margin:0px;
}

.message-received{
text-align: left;
    display: block;
    color: rgb(255, 0, 115);
    /* border: 1px solid white; */
}

.message-sent{
text-align: right;
width: 50%;
align-items: end;
margin: 0px 0px 0px auto;
/* border: 1px dotted white; */
margin-right:1px;
border-radius: 5px;
margin-top: 4px;
}

.input {
    background: transparent;
    border-bottom: 1px solid white;
    caret-color: #f5f5f5;
    color: #f5f5f5;
    outline: none;
    font-family: Quicksand, Roboto, Arial, sans-serif;
    max-height: 60px;
    width: 500px;
    padding: 20px;
    overflow: auto;
    cursor: text;
    
}

.input:focus {
    border-bottom:1px solid rgb(255, 234, 0);

       
}

.input:empty::after {
    content: attr(data-placeholder);
    opacity: 0.5;
}

/* width */
.input::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.input::-webkit-scrollbar-track {
    background: #0A2342;
    
}

/* Handle */
.input::-webkit-scrollbar-thumb {
    background: #5d5d6d;
    border-radius: 10px;
}

/* Handle on hover */
.input::-webkit-scrollbar-thumb:hover {
    background-color: #727272;
}

#sendButton {
    background-image: linear-gradient(135deg, #a329c1 40%, #704dfc);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    height:50px;
    box-shadow: 0px 17px 99px -7px rgba(171, 64, 243, 0.51);
    margin-top: 20px;
}

#errorCOntainer{
    color:white;
}

#sendButton:hover {
    box-shadow: 0px 17px 99px 1px rgba(171, 64, 243, 0.51);
}

#sendButton:active {
    transform: scale(0.9);
}
#messageContainer {
    /* border: 1px solid white; */
    /* margin-bottom:100%; */
    /* max-width:520px; */
    width:96%;
    height:30rem;
    font-family: RalewayDots;
    font-size: 1rem;
    color: rgb(43, 255, 0);
    padding:10px;
    border: 1px solid white;
    background-color: black;
    word-wrap: break-word;
    overflow-y: scroll;
    

    
}

#typing {
    color:rgb(250, 188, 149);
    
    height: 29px;
}

#sendContainer {
    margin:0;
}

@media (min-width:700px){
    #messageContainer {
            /* border: 1px solid white; */
            /* margin-bottom:100%; */
            max-width: 520px;}
}

@media (max-width: 700px) {
    html {
            display: block;
        }
        
        #messageContainer {
              height: 70vh;
              justify-content: center;
              font-size: 2rem;
        }
        
        .input{
            width: 88vw;
        }
        h1{
            font-size:5rem;
        }

        #sendContainer{
            height: 300px;
        }

        #sendButton {
            margin-top: 40px;
            font-size: 3rem;
            height: 7rem;
            
            width: 100%;
        }
}


